.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  max-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    max-height: 100vh;
  }

  .center {
    padding: 0;
  }
}
