.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(skyblue, #ffffff, skyblue);
}

.message {
  max-width: 75vw;
  margin: 2rem;
}

.download {
  margin-top: 3rem;
}

@media (max-width: 700px) {
  .main h1 {
    text-align: center;
  }
  .main p {
    text-align: center;
    width: 80%;
  }
}
