.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  max-width: 75vw;
  margin: 2rem;
}

.download {
  margin-top: 6rem;
}
